<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">
	<!-- 配置Service -->
	<bean id="userService" class="bos.service.impl.user.UserServiceImpl" />
	<bean id="standardService" class="bos.service.impl.bc.StandardServiceImpl" />
	<bean id="staffService" class="bos.service.impl.bc.StaffServiceImpl" />
	<bean id="regionService" class="bos.service.impl.bc.RegionServiceImpl" />
	<bean id="subareaService" class="bos.service.impl.bc.SubareaServiceImpl" />
	<bean id="decidedZoneService" class="bos.service.impl.bc.DecidedZoneServiceImpl"/>
	
	<bean id="noticeBillService" class="bos.service.impl.qp.NoticeBillServiceImpl"/>
	<bean id="workOrderManageService" class="bos.service.impl.qp.WorkOrderManageServiceImpl" />
	
	<bean id="functionService" class="bos.service.impl.auth.FunctionServiceImpl" />
	<bean id="roleService" class="bos.service.impl.auth.RoleServiceImpl"/>
	<bean id="bosTaskService" class="bos.service.impl.workflow.BosTaskServiceImpl" />
</beans>
